<div class="navigation navigation_global {{if sideBarIsOpen "navigation_open"}}">
  <ul class="menu menu_global {{if sideBarIsOpen "menu_open"}}">
    {{#link-to "pages.index" tagName="li" href=false class="menu__item"}}
    <a class="link menu__link" href="{{view.href}}">
      {{fa-icon icon="file-o" class="icon menu__icon"}}
      <span class="link__text link__text_menu">Pages</span>
    </a>
    {{/link-to}}
    {{#link-to "posts.index" tagName="li" href=false class="menu__item"}}
    <a class="link menu__link" href="{{view.href}}">
      {{fa-icon icon="align-left" class="icon menu__icon"}}
      <span class="link__text link__text_menu">Posts</span>
    </a>
    {{/link-to}}
    {{#link-to "themes.index" tagName="li" href=false class="menu__item"}}
    <a class="link menu__link" href="{{view.href}}">
      {{fa-icon icon="list-alt" class="icon menu__icon"}}
      <span class="link__text link__text_menu">Themes</span>
    </a>
    {{/link-to}}
    {{#link-to "settings" tagName="li" href=false class="menu__item"}}
    <a class="link menu__link" href="{{view.href}}">
      {{fa-icon icon="cog" class="icon menu__icon"}}
      <span class="link__text link__text_menu">Settings</span>
    </a>
    {{/link-to}}
  </ul>
</div>
