<div class="navigation navigation_global">
  <div class="navigation__menu navigation_global__menu">
    <ul class="menu menu_global">
      {{#link-to "pages.index" tagName="li" href=false class="menu__item"}}
      <a class="link link_menu" href="{{view.href}}">
        {{fa-icon icon="file-o" class="icon"}}
        <span class="menu__item__text">Pages</span>
      </a>
      {{/link-to}}
      {{#link-to "posts.index" tagName="li" href=false class="menu__item"}}
      <a class="link link_menu" href="{{view.href}}">
        {{fa-icon icon="align-left" class="icon"}}
        <span class="menu__item__text">Posts</span>
      </a>
      {{/link-to}}
      {{#link-to "themes.index" tagName="li" href=false class="menu__item"}}
      <a class="link link_menu" href="{{view.href}}">
        {{fa-icon icon="list-alt" class="icon"}}
        <span class="menu__item__text">Themes</span>
      </a>
      {{/link-to}}
      {{#link-to "settings" tagName="li" href=false class="menu__item"}}
      <a class="link link_menu" href="{{view.href}}">
        {{fa-icon icon="cog" class="icon"}}
        <span class="menu__item__text">Settings</span>
      </a>
      {{/link-to}}
    </ul>
  </div>
</div>
