<div class="page__title">
  <div class="logo" {{action "toggleSideBar"}}><img src="/bonfire/images/logo_dark.png" /></div>
  <h2 class="heading heading_title">{{pageTitle}}</h2>
</div>
<div class="action-bar__actions">
  {{#each actionBarActions as |actionItem|}}
  {{#if actionItem.isIcon}}
  <div class="action-bar__action action-bar__action_{{actionItem.icon}} bf-bg-{{actionItem.color}}" {{action "triggerAction" actionItem.action}}>
    {{fa-icon icon=actionItem.icon class="icon action-bar__icon"}}
  </div>
  {{/if}}
  {{/each}}
</div>
