<ul class="bf-editor-bar__list">
  <li class="bf-editor-bar__toggle {{if showContent "active"}}" {{action "toggleEditorState" "content"}}>Content</li>
  <li class="bf-editor-bar__toggle {{if showPreview "active"}}" {{action "toggleEditorState" "preview"}}>Preview</li>
  <li class="bf-editor-bar__toggle {{if showSettings "active"}}" {{action "toggleEditorState" "settings"}}>Settings</li>
</ul>
