<ul class="page-filter__list">
  <li class="page-filter__filter {{publishedIsActive}}" {{action "updateFilter" "published"}}>Published </li>
  <li class="page-filter__filter {{draftIsActive}}" {{action "updateFilter" "draft"}}>Drafts </li>
  <li class="page-filter__filter {{trashIsActive}}" {{action "updateFilter" "trash"}}>Trash </li>
</ul>
<div class="search-box page-filter__search-box {{if searchBoxIsOpen "show" "hide"}}">
  {{fa-icon icon="search" class="icon search-box__icon page-filter__icon"}}
  {{input
  class="form__input form__input_inline search-box__input page-filter__input"
  placeholder="search..."
  value=searchText
  autofocus="autofocus"
  }}
</div>
<div class="search-box__toggle" {{action "toggleSearchBox"}}>
  {{#unless searchBoxIsOpen}}
  {{fa-icon icon="search" class="icon search-box__icon"}}
  {{/unless}}
  {{#if searchBoxIsOpen}}
  {{fa-icon icon="times" class="icon search-box__icon"}}
  {{/if}}
</div>
