<div class="page-list__item__name">
  {{post.name}}
</div>
<div class="page-list__item__meta">
  <span class="meta__item">Author: {{title-case-string post.author.name}}</span>
  <span class="meta__item">Created: {{moment-from-now post.createdAt}}</span>
  <span class="meta__item">Updated: {{moment-from-now post.updatedAt}}</span>
  <span class="meta__item">State: {{post.status}}</span>
</div>
<div class="page-list__item__action" {{action "toggleMenu"}}>
  {{fa-icon icon="ellipsis-v" class="icon"}}
</div>
{{pop-over
for="pages"
popoverItems=pageItemActions.popover
edit=(action "triggerAction" "edit")
}}
